service: alex-personal-website-api-gateway

custom:
  stage: ${opt:stage}
provider:
  name: aws
  runtime: nodejs18.x
  region: us-west-2
  deploymentBucket:
    name: alex-personal-website-stack-bucket-${self:custom.stage}
  stackTags:
    application: "PersonalWebsite"
    owner: "Alex"
    # userArn: "arn:aws:iam::${self:provider.environment.ACCOUNT_ID}:user/Alex"

# authorizer:
  # arn: ${self:provider.environment.USER_POOL}
#   arn: ${cf:${self:custom.subsys}-idm-service-dev.AuthorizerArn}

resources:
  Resources:
    RestApi:
      Type: AWS::ApiGateway::RestApi
      Properties:
        Name: Alex-Personal-Website-Api
        EndpointConfiguration:
          Types:
            - REGIONAL  # or EDGE, PRIVATE
    GatewayResponseDefault4XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_4XX
        RestApiId:
          Ref: RestApi

    GatewayResponseDefault5XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_5XX
        RestApiId:
          Ref: RestApi

  Outputs:
    RestApiIdResource:
      Value: !GetAtt [RestApi, RestApiId]
      Export:
        Name: "RestApiGatewayId"
    RootResourceId:
      Value: !GetAtt [RestApi, RootResourceId]
      Export:
        Name: "RestApiRootResourceId"